<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con Animación de Scroll</title>
    <link rel="stylesheet" href="../styles/scroll.css">
</head>
<body>
    <header>
        <h1>PRUEBA SCROLL</h1>
    </header>

    <section class="card-container">
        <div class="card">
            <img src="recursos/Rectangle 28.png" alt="Fantasma de Japón">
            <div class="card-text">
                <h2>FANTASMAS DE JAPÓN</h2>
                <p>Este libro trata sobre la trágica vida que sufren personas antes de morir y convertirse en fantasmas. 2010 Benjamin Lacombe</p>
            </div>
        </div>
        <div class="card">
            <img src="recursos/Rectangle 29.png" alt="Le Divin">
            <div class="card-text">
                <h2>FANTASMAS DE JAPÓN</h2>
                <p>Este libro trata sobre la trágica vida que sufren personas antes de morir y convertirse en fantasmas. 2010 Benjamin Lacombe</p>
            </div>
        </div>
        <div class="card">
            <img src="recursos/Rectangle 30.png" alt="Laila Starr">
            <div class="card-text">
                <h2>FANTASMAS DE JAPÓN</h2>
                <p>Este libro trata sobre la trágica vida que sufren personas antes de morir y convertirse en fantasmas. 2010 Benjamin Lacombe</p>
            </div>
        </div>
    </section>

    <section class="card-horizontal">
        <img src="recursos/41cecfb6c1b85d7d0d6636f9aa2a971f 1.png" alt="Fantasmas de Japón">
        <div class="horizontal-text">
            <h2>FANTASMAS DE JAPÓN</h2>
            <p>Este libro trata sobre la trágica vida que sufren personas antes de morir y convertirse en fantasmas. 2010 Benjamin Lacombe</p>
        </div>
    </section>

    <script src="../scripts/scroll.js"></script>
</body>
</html>
