* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    text-align: center;
    justify-items: center;
    padding: 50px 20px;
    height: 700px;
    background: #f3f3f3;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-style: italic;
    letter-spacing: 15px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
    padding: 50px 20px;
    background: #f3f3f3;
}

.card-container {
    display: flex;
    justify-content: center;
    height: 600px;
    gap: 50px;
    padding: 50px;
}

.card {
    position: relative;
    width: 300px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 55px;
}

.card-text {
    background-color: rgba(0, 0, 0, 0.85);
    margin: auto;
    width: 200px;
    color: white;
    padding: 20px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1.2s ease-out 0.3s; 
}

.card.visible .card-text {
    max-height: 200px; 
}

.card-horizontal {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 0px;
}

.card-horizontal img {
    width: 400px;
    height: auto;
    border-radius: 40px;
}

.horizontal-text {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    height: 150px;
    padding: 20px;
    overflow: hidden;
    max-width: 0;
    opacity: 0; 
    transition: max-width 1.2s ease-out 0.3s, opacity 0.5s ease-out;
}

.card-horizontal.visible .horizontal-text {
    max-width: 300px;
    opacity: 1; 
}